In [100]:
import pandas as pd

# 데이터 불러오기

In [101]:
df = pd.read_excel('./data/final_all_data.xlsx')
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,유투버,월,연도,평균 조회수,평균 영상 좋아요 수,영상개수,구독자,...,인지도,성장률,필터링전_총점,필터링전_총_점수(확인용),점수 재조정_창수,점수 재조정_다현,필터링_취합,bool,최종_점수,등급
0,0,0,0,@Mingokim,8,2022,NaN,NaN,0,1240,...,0.0,7.5,7.5,7.5,7.5,NaN,7.5,1,7.5,E
1,1,1,1,@Mingokim,9,2022,NaN,NaN,0,1240,...,0.0,5.0,5.0,5.0,7.5,NaN,7.5,1,7.5,E
2,2,2,2,@Mingokim,10,2022,NaN,NaN,0,1240,...,0.0,5.0,5.0,5.0,7.5,NaN,7.5,1,7.5,E
3,3,3,3,@Mingokim,11,2022,NaN,NaN,0,1240,...,0.0,5.0,5.0,5.0,4.5,NaN,4.5,1,4.5,F
4,4,4,4,@Mingokim,12,2022,NaN,NaN,0,1230,...,0.0,0.0,0.0,0.0,4.5,NaN,4.5,1,4.5,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3206,3206,3206,3206,희주,4,2023,60805.00,1358.962805,3,792000,...,30.0,5.0,64.0,64.0,NaN,NaN,0.0,0,64.0,B+
3207,3207,3207,3207,희주,5,2023,134596.00,3008.156527,3,792000,...,30.0,5.0,65.0,65.0,NaN,NaN,0.0,0,65.0,B+
3208,3208,3208,3208,희주,6,2023,63369.75,1416.283746,4,794000,...,30.0,7.5,77.5,77.5,NaN,NaN,0.0,0,77.5,A0
3209,3209,3209,3209,희주,7,2023,58993.00,1318.465467,4,795000,...,30.0,7.5,77.5,77.5,NaN,NaN,0.0,0,77.5,A0
3210,3210,3210,3210,희주,8,2023,43819.50,979.344965,2,794000,...,30.0,0.0,54.0,54.0,NaN,NaN,0.0,0,54.0,B0

In [102]:
df.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', '유투버', '월', '연도',
       '평균 조회수', '평균 영상 좋아요 수', '영상개수', '구독자', '구독자 성장율', '감성점수', '평균_영상간격',
       'null_지속', '충성시청자_비율', '구독자점수', '조회수점수', '충성도점수', '구독자 성장율점수', '감성점수점수',
       '평균_영상간격점수', '평균 영상 좋아요 수 점수', '영상개수 점수', '성실도', '참여도', '인지도', '성장률',
       '필터링전_총점', '필터링전_총_점수(확인용)', '점수 재조정_창수', '점수 재조정_다현', '필터링_취합', 'bool',
       '최종_점수', '등급'],
      dtype='object')

In [103]:
dates = ['22_08', '22_09', '22_10', '22_11', '22_12', '23_01', '23_02', '23_03', '23_04', '23_05', '23_06', '23_07', '23_08']

In [104]:
vars = ['구독자점수', '조회수점수', '충성도점수', '구독자 성장율점수', '감성점수점수', '평균_영상간격점수',
       '평균 영상 좋아요 수 점수', '영상개수 점수', '등급' ]

In [105]:
cols = []
for date in dates:
    for var in vars:
        cols.append(date + '_' + var)
cols

['22_08_구독자점수',
 '22_08_조회수점수',
 '22_08_충성도점수',
 '22_08_구독자 성장율점수',
 '22_08_감성점수점수',
 '22_08_평균_영상간격점수',
 '22_08_평균 영상 좋아요 수 점수',
 '22_08_영상개수 점수',
 '22_08_등급',
 '22_09_구독자점수',
 '22_09_조회수점수',
 '22_09_충성도점수',
 '22_09_구독자 성장율점수',
 '22_09_감성점수점수',
 '22_09_평균_영상간격점수',
 '22_09_평균 영상 좋아요 수 점수',
 '22_09_영상개수 점수',
 '22_09_등급',
 '22_10_구독자점수',
 '22_10_조회수점수',
 '22_10_충성도점수',
 '22_10_구독자 성장율점수',
 '22_10_감성점수점수',
 '22_10_평균_영상간격점수',
 '22_10_평균 영상 좋아요 수 점수',
 '22_10_영상개수 점수',
 '22_10_등급',
 '22_11_구독자점수',
 '22_11_조회수점수',
 '22_11_충성도점수',
 '22_11_구독자 성장율점수',
 '22_11_감성점수점수',
 '22_11_평균_영상간격점수',
 '22_11_평균 영상 좋아요 수 점수',
 '22_11_영상개수 점수',
 '22_11_등급',
 '22_12_구독자점수',
 '22_12_조회수점수',
 '22_12_충성도점수',
 '22_12_구독자 성장율점수',
 '22_12_감성점수점수',
 '22_12_평균_영상간격점수',
 '22_12_평균 영상 좋아요 수 점수',
 '22_12_영상개수 점수',
 '22_12_등급',
 '23_01_구독자점수',
 '23_01_조회수점수',
 '23_01_충성도점수',
 '23_01_구독자 성장율점수',
 '23_01_감성점수점수',
 '23_01_평균_영상간격점수',
 '23_01_평균 영상 좋아요 수 점수',
 '23_01_영상개수 점수',
 '23_01_등급',
 '23_02_구독자점수',
 '23_02_조회수점수',
 '23_02_충성도점수',
 '23_02_구독자 성장율점수',
 '23_02_감성점수점수',
 '23_02_평균_영상간격점수',
 '23_02_평균 영상 좋아요 수 점수',
 '23_02_영상개수 점수',
 '23_02_등급',
 '23_03_구독자점수',
 '23_03_조회수점수',
 '23_03_충성도점수',
 '23_03_구독자 성장율점수',
 '23_03_감성점수점수',
 '23_03_평균_영상간격점수',
 '23_03_평균 영상 좋아요 수 점수',
 '23_03_영상개수 점수',
 '23_03_등급',
 '23_04_구독자점수',
 '23_04_조회수점수',
 '23_04_충성도점수',
 '23_04_구독자 성장율점수',
 '23_04_감성점수점수',
 '23_04_평균_영상간격점수',
 '23_04_평균 영상 좋아요 수 점수',
 '23_04_영상개수 점수',
 '23_04_등급',
 '23_05_구독자점수',
 '23_05_조회수점수',
 '23_05_충성도점수',
 '23_05_구독자 성장율점수',
 '23_05_감성점수점수',
 '23_05_평균_영상간격점수',
 '23_05_평균 영상 좋아요 수 점수',
 '23_05_영상개수 점수',
 '23_05_등급',
 '23_06_구독자점수',
 '23_06_조회수점수',
 '23_06_충성도점수',
 '23_06_구독자 성장율점수',
 '23_06_감성점수점수',
 '23_06_평균_영상간격점수',
 '23_06_평균 영상 좋아요 수 점수',
 '23_06_영상개수 점수',
 '23_06_등급',
 '23_07_구독자점수',
 '23_07_조회수점수',
 '23_07_충성도점수',
 '23_07_구독자 성장율점수',
 '23_07_감성점수점수',
 '23_07_평균_영상간격점수',
 '23_07_평균 영상 좋아요 수 점수',
 '23_07_영상개수 점수',
 '23_07_등급',
 '23_08_구독자점수',
 '23_08_조회수점수',
 '23_08_충성도점수',
 '23_08_구독자 성장율점수',
 '23_08_감성점수점수',
 '23_08_평균_영상간격점수',
 '23_08_평균 영상 좋아요 수 점수',
 '23_08_영상개수 점수',
 '23_08_등급']

# 데이터프레임 형태 변환

In [106]:
df.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', '유투버', '월', '연도',
       '평균 조회수', '평균 영상 좋아요 수', '영상개수', '구독자', '구독자 성장율', '감성점수', '평균_영상간격',
       'null_지속', '충성시청자_비율', '구독자점수', '조회수점수', '충성도점수', '구독자 성장율점수', '감성점수점수',
       '평균_영상간격점수', '평균 영상 좋아요 수 점수', '영상개수 점수', '성실도', '참여도', '인지도', '성장률',
       '필터링전_총점', '필터링전_총_점수(확인용)', '점수 재조정_창수', '점수 재조정_다현', '필터링_취합', 'bool',
       '최종_점수', '등급'],
      dtype='object')

In [107]:
list(df.columns).index('구독자점수')

15

In [108]:
df_new = pd.DataFrame(columns=['유투버'] + cols)
for name_idx, name in enumerate(df['유투버'].unique()):
    df_new.loc[name_idx, '유투버'] = name
    for i, date in enumerate(dates):
        start_name = df_new.columns[i*9+1]
        end_name = df_new.columns[(i+1)*9]
        df_new.loc[name_idx, start_name:end_name] = df[df['유투버'] == name].iloc[i, [15, 16, 17, 18, 19, 20, 21, 22, -1]].values

In [109]:
df_new

,유투버,22_08_구독자점수,22_08_조회수점수,22_08_충성도점수,22_08_구독자 성장율점수,22_08_감성점수점수,22_08_평균_영상간격점수,22_08_평균 영상 좋아요 수 점수,22_08_영상개수 점수,22_08_등급,...,23_07_등급,23_08_구독자점수,23_08_조회수점수,23_08_충성도점수,23_08_구독자 성장율점수,23_08_감성점수점수,23_08_평균_영상간격점수,23_08_평균 영상 좋아요 수 점수,23_08_영상개수 점수,23_08_등급
0,@Mingokim,0.0,0,0,7.5,0,0,0,0,E,...,D0,0.0,0,0,7.5,0,0,0,0,E
1,@yekooooong,3.75,6,8,7.5,2,6,4,6,C+,...,C+,7.5,6,6,7.5,8,12,4,9,B+
2,benny8282_nail,7.5,3,2,7.5,4,3,4,3,C0,...,D+,7.5,3,2,7.5,2,0,2,3,D+
3,bird 정은,3.75,0,0,7.5,0,0,0,0,D+,...,C0,3.75,9,2,7.5,4,0,6,3,C0
4,Coco Riley,15.0,0,0,0.0,0,0,0,0,C0,...,B0,15.0,6,8,0.0,8,9,4,9,B0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,회사원A,15.0,15,4,5.0,8,12,10,9,A0,...,A0,15.0,15,4,5.0,4,12,10,9,A0
243,효진조,15.0,15,4,5.0,6,15,10,12,A+,...,A0,15.0,15,4,0.0,6,15,10,12,A0
244,후니세탁소HUNILAUNDRY,0.0,15,2,0.0,2,0,4,3,D+,...,D+,0.0,6,2,7.5,4,12,2,3,C0
245,후메이크업whozmakeup,7.5,3,2,0.0,8,3,2,3,D+,...,C+,7.5,6,8,5.0,8,12,2,9,B0
246,희주,15.0,15,2,7.5,6,6,10,3,B+,...,A0,15.0,15,6,0.0,4,3,8,3,B0

In [110]:
df_new.columns

Index(['유투버', '22_08_구독자점수', '22_08_조회수점수', '22_08_충성도점수', '22_08_구독자 성장율점수',
       '22_08_감성점수점수', '22_08_평균_영상간격점수', '22_08_평균 영상 좋아요 수 점수',
       '22_08_영상개수 점수', '22_08_등급',
       ...
       '23_07_등급', '23_08_구독자점수', '23_08_조회수점수', '23_08_충성도점수',
       '23_08_구독자 성장율점수', '23_08_감성점수점수', '23_08_평균_영상간격점수',
       '23_08_평균 영상 좋아요 수 점수', '23_08_영상개수 점수', '23_08_등급'],
      dtype='object', length=118)

In [111]:
df_new.isnull().sum().sum()

0

# 1개월치 데이터로 예측

## 등급 자체를 예측

In [112]:
y_test = df_new.iloc[:, [-1]]
y_test

    23_08_등급
0          E
1         B+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       C0
245       B0
246       B0

[247 rows x 1 columns]

In [113]:
X_test = df_new.iloc[:, -18:-10]
X_test

,23_07_구독자점수,23_07_조회수점수,23_07_충성도점수,23_07_구독자 성장율점수,23_07_감성점수점수,23_07_평균_영상간격점수,23_07_평균 영상 좋아요 수 점수,23_07_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0
1,7.5,6,6,7.5,2,6,4,3
2,7.5,3,2,7.5,2,0,4,3
3,3.75,9,2,7.5,2,0,6,3
4,15.0,9,8,0.0,4,9,4,9
...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,4,12,10,9
243,15.0,15,6,7.5,8,6,10,9
244,0.0,12,2,7.5,2,0,2,3
245,7.5,3,8,5.0,8,6,2,6
246,15.0,15,6,7.5,6,9,10,9

In [114]:
y_train = df_new.iloc[:, [-10]]
y_train

    23_07_등급
0         D0
1         C+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       D+
245       C+
246       A0

[247 rows x 1 columns]

In [115]:
X_train = df_new.iloc[:, -27:-19]
X_train

,23_06_구독자점수,23_06_조회수점수,23_06_충성도점수,23_06_구독자 성장율점수,23_06_감성점수점수,23_06_평균_영상간격점수,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수
0,0.0,0,0,0.0,0,0,0,0
1,3.75,12,6,7.5,2,6,6,9
2,7.5,3,2,7.5,10,0,2,3
3,3.75,0,0,7.5,0,0,0,0
4,15.0,6,8,5.0,6,9,4,9
...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,6,15,10,9
243,15.0,15,6,7.5,6,12,10,9
244,0.0,3,2,0.0,2,0,2,3
245,7.5,3,6,5.0,6,3,2,6
246,15.0,15,8,7.5,4,9,10,9

In [116]:
def label_encode_dataframe(df, column_name):
    label_mapping = {
        'A+': 0, 'A0': 1, 'B+': 2, 'B0': 3,
        'C+': 4, 'C0': 5, 'D+': 6, 'D0': 7,
        'E': 8, 'F': 9
    }
    df[column_name] = df[column_name].map(label_mapping)
    return df

In [117]:
label_encode_dataframe(y_test, y_test.columns[0])
label_encode_dataframe(y_train, y_train.columns[0])
y_test

C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\1625537586.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\1625537586.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)

     23_08_등급
0           8
1           2
2           6
3           5
4           3
..        ...
242         1
243         1
244         5
245         3
246         3

[247 rows x 1 columns]

In [118]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn import svm
import xgboost as xgb
import lightgbm as lgb

# 사용할 모델 정의
log_reg = LogisticRegression(random_state=42, n_jobs=-1)
SGD = SGDClassifier(random_state=42, n_jobs=-1)
DTree = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
model_xgb = xgb.XGBClassifier(random_state=42, n_jobs=-1)
model_lgb = lgb.LGBMClassifier(random_state=42, n_jobs=-1)

In [119]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [120]:
models = []
acc_scores = []
recall_scores = []
precision_scores = []  
f1_scores = []  
for model in [log_reg, rf, model_xgb, model_lgb]:
    clf = model.fit(X_train.values, y_train)
    pred = clf.predict(X_test.values)
    # 평가 지표 계산

    acc = accuracy_score(y_test, pred)
    precsion = precision_score(y_test, pred, average='weighted')
    recall = recall_score(y_test, pred, average='weighted')
    f1 = f1_score(y_test, pred, average='weighted')
    models.append(model.__class__.__name__)
    acc_scores.append(acc)
    precision_scores.append(precsion)
    recall_scores.append(recall)
    f1_scores.append(f1)
result_df = pd.DataFrame({'Model': models, 'Acurracy': acc_scores, 'Recall': recall_scores, 'Precision': precision_scores, 'f1': f1_scores}).reset_index(drop=True)
result_df

c:\anaconda3\envs\py_397\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\839555630.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = model.fit(X_train.values, y_train)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                    Model  Acurracy    Recall  Precision        f1
0      LogisticRegression  0.323887  0.323887   0.303090  0.304246
1  RandomForestClassifier  0.392713  0.392713   0.401057  0.378005
2           XGBClassifier  0.352227  0.352227   0.317829  0.329712
3          LGBMClassifier  0.340081  0.340081   0.334641  0.330143

## 간소화된 등급 예측

In [121]:
y_test = df_new.iloc[:, [-1]]
y_test

    23_08_등급
0          E
1         B+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       C0
245       B0
246       B0

[247 rows x 1 columns]

In [122]:
X_test = df_new.iloc[:, -18:-10]
X_test

,23_07_구독자점수,23_07_조회수점수,23_07_충성도점수,23_07_구독자 성장율점수,23_07_감성점수점수,23_07_평균_영상간격점수,23_07_평균 영상 좋아요 수 점수,23_07_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0
1,7.5,6,6,7.5,2,6,4,3
2,7.5,3,2,7.5,2,0,4,3
3,3.75,9,2,7.5,2,0,6,3
4,15.0,9,8,0.0,4,9,4,9
...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,4,12,10,9
243,15.0,15,6,7.5,8,6,10,9
244,0.0,12,2,7.5,2,0,2,3
245,7.5,3,8,5.0,8,6,2,6
246,15.0,15,6,7.5,6,9,10,9

In [123]:
y_train = df_new.iloc[:, [-10]]
y_train

    23_07_등급
0         D0
1         C+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       D+
245       C+
246       A0

[247 rows x 1 columns]

In [124]:
def label_encode_dataframe_2(df, column_name):
    label_mapping = {
        'A+': 0, 'A0': 0, 'B+': 1, 'B0': 1,
        'C+': 2, 'C0': 2, 'D+': 3, 'D0': 3,
        'E': 4, 'F': 4
    }
    df[column_name] = df[column_name].map(label_mapping)
    return df

In [125]:
label_encode_dataframe_2(y_test, y_test.columns[0])
label_encode_dataframe_2(y_train, y_train.columns[0])
y_test

C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\3906280974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\3906280974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)

     23_08_등급
0           4
1           1
2           3
3           2
4           1
..        ...
242         0
243         0
244         2
245         1
246         1

[247 rows x 1 columns]

In [126]:
X_train = df_new.iloc[:, -27:-19]
X_train

,23_06_구독자점수,23_06_조회수점수,23_06_충성도점수,23_06_구독자 성장율점수,23_06_감성점수점수,23_06_평균_영상간격점수,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수
0,0.0,0,0,0.0,0,0,0,0
1,3.75,12,6,7.5,2,6,6,9
2,7.5,3,2,7.5,10,0,2,3
3,3.75,0,0,7.5,0,0,0,0
4,15.0,6,8,5.0,6,9,4,9
...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,6,15,10,9
243,15.0,15,6,7.5,6,12,10,9
244,0.0,3,2,0.0,2,0,2,3
245,7.5,3,6,5.0,6,3,2,6
246,15.0,15,8,7.5,4,9,10,9

In [127]:
X_train = X_train.astype('float')
X_test = X_test.astype('float')

In [128]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn import svm
import xgboost as xgb
import lightgbm as lgb

# 사용할 모델 정의
log_reg = LogisticRegression(random_state=42, n_jobs=-1)
SGD = SGDClassifier(random_state=42, n_jobs=-1)
DTree = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
model_xgb = xgb.XGBClassifier(random_state=42, n_jobs=-1)
model_lgb = lgb.LGBMClassifier(random_state=42, n_jobs=-1)

In [129]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [130]:
models = []
acc_scores = []
recall_scores = []
precision_scores = []  
f1_scores = []  
for model in [log_reg, rf, model_xgb, model_lgb]:
    clf = model.fit(X_train, y_train)
    pred = clf.predict(X_test.values)
    # 평가 지표 계산

    acc = accuracy_score(y_test, pred)
    precsion = precision_score(y_test, pred, average='weighted')
    recall = recall_score(y_test, pred, average='weighted')
    f1 = f1_score(y_test, pred, average='weighted')
    models.append(model.__class__.__name__)
    acc_scores.append(acc)
    precision_scores.append(precsion)
    recall_scores.append(recall)
    f1_scores.append(f1)
result_df = pd.DataFrame({'Model': models, 'Acurracy': acc_scores, 'Recall': recall_scores, 'Precision': precision_scores, 'f1': f1_scores}).reset_index(drop=True)
result_df

c:\anaconda3\envs\py_397\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\2518833286.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = model.fit(X_train, y_train)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                    Model  Acurracy    Recall  Precision        f1
0      LogisticRegression  0.570850  0.570850   0.599487  0.554724
1  RandomForestClassifier  0.595142  0.595142   0.621281  0.579278
2           XGBClassifier  0.562753  0.562753   0.529911  0.543478
3          LGBMClassifier  0.550607  0.550607   0.522597  0.533081

## 인기, 비인기 예측

In [131]:
y_test = df_new.iloc[:, [-1]]
y_test

    23_08_등급
0          E
1         B+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       C0
245       B0
246       B0

[247 rows x 1 columns]

In [132]:
X_test = df_new.iloc[:, -18:-10]
X_test

,23_07_구독자점수,23_07_조회수점수,23_07_충성도점수,23_07_구독자 성장율점수,23_07_감성점수점수,23_07_평균_영상간격점수,23_07_평균 영상 좋아요 수 점수,23_07_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0
1,7.5,6,6,7.5,2,6,4,3
2,7.5,3,2,7.5,2,0,4,3
3,3.75,9,2,7.5,2,0,6,3
4,15.0,9,8,0.0,4,9,4,9
...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,4,12,10,9
243,15.0,15,6,7.5,8,6,10,9
244,0.0,12,2,7.5,2,0,2,3
245,7.5,3,8,5.0,8,6,2,6
246,15.0,15,6,7.5,6,9,10,9

In [133]:
y_train = df_new.iloc[:, [-10]]
y_train

    23_07_등급
0         D0
1         C+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       D+
245       C+
246       A0

[247 rows x 1 columns]

In [134]:
def label_encode_dataframe_3(df, column_name):
    label_mapping = {
        'A+': 0, 'A0': 0, 'B+': 0, 'B0': 0,
        'C+': 1, 'C0': 1, 'D+': 1, 'D0': 1,
        'E': 1, 'F': 1
    }
    df[column_name] = df[column_name].map(label_mapping)
    return df

In [135]:
label_encode_dataframe_3(y_test, y_test.columns[0])
label_encode_dataframe_3(y_train, y_train.columns[0])
y_test

C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\2928109579.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\2928109579.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)

     23_08_등급
0           1
1           0
2           1
3           1
4           0
..        ...
242         0
243         0
244         1
245         0
246         0

[247 rows x 1 columns]

In [136]:
X_train = df_new.iloc[:, -27:-19]
X_train

,23_06_구독자점수,23_06_조회수점수,23_06_충성도점수,23_06_구독자 성장율점수,23_06_감성점수점수,23_06_평균_영상간격점수,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수
0,0.0,0,0,0.0,0,0,0,0
1,3.75,12,6,7.5,2,6,6,9
2,7.5,3,2,7.5,10,0,2,3
3,3.75,0,0,7.5,0,0,0,0
4,15.0,6,8,5.0,6,9,4,9
...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,6,15,10,9
243,15.0,15,6,7.5,6,12,10,9
244,0.0,3,2,0.0,2,0,2,3
245,7.5,3,6,5.0,6,3,2,6
246,15.0,15,8,7.5,4,9,10,9

In [137]:
X_train = X_train.astype('float')
X_test = X_test.astype('float')

In [138]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn import svm
import xgboost as xgb
import lightgbm as lgb

# 사용할 모델 정의
log_reg = LogisticRegression(random_state=42, n_jobs=-1)
SGD = SGDClassifier(random_state=42, n_jobs=-1)
DTree = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
model_xgb = xgb.XGBClassifier(random_state=42, n_jobs=-1)
model_lgb = lgb.LGBMClassifier(random_state=42, n_jobs=-1)

In [139]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [140]:
models = []
acc_scores = []
recall_scores = []
precision_scores = []  
f1_scores = []  
for model in [log_reg, rf, model_xgb, model_lgb]:
    clf = model.fit(X_train.values, y_train)
    pred = clf.predict(X_test.values)
    # 평가 지표 계산

    acc = accuracy_score(y_test, pred)
    precsion = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)
    models.append(model.__class__.__name__)
    acc_scores.append(acc)
    precision_scores.append(precsion)
    recall_scores.append(recall)
    f1_scores.append(f1)
result_df = pd.DataFrame({'Model': models, 'Acurracy': acc_scores, 'Recall': recall_scores, 'Precision': precision_scores, 'f1': f1_scores}).reset_index(drop=True)
result_df

c:\anaconda3\envs\py_397\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\1800382665.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = model.fit(X_train.values, y_train)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                    Model  Acurracy    Recall  Precision        f1
0      LogisticRegression  0.846154  0.848485   0.861538  0.854962
1  RandomForestClassifier  0.866397  0.886364   0.866667  0.876404
2           XGBClassifier  0.846154  0.863636   0.850746  0.857143
3          LGBMClassifier  0.858300  0.856061   0.875969  0.865900

# 3개월치 데이터로 예측

## 등급 자체를 예측

In [141]:
y_test = df_new.iloc[:, [-1]]
y_test

    23_08_등급
0          E
1         B+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       C0
245       B0
246       B0

[247 rows x 1 columns]

In [142]:
X_test = pd.concat((df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19], df_new.iloc[:, -18:-10]), axis=1)
X_test

,23_05_구독자점수,23_05_조회수점수,23_05_충성도점수,23_05_구독자 성장율점수,23_05_감성점수점수,23_05_평균_영상간격점수,23_05_평균 영상 좋아요 수 점수,23_05_영상개수 점수,23_06_구독자점수,23_06_조회수점수,...,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수,23_07_구독자점수,23_07_조회수점수,23_07_충성도점수,23_07_구독자 성장율점수,23_07_감성점수점수,23_07_평균_영상간격점수,23_07_평균 영상 좋아요 수 점수,23_07_영상개수 점수
0,0.0,3,2,0.0,6,0,2,3,0.0,0,...,0,0,0.0,0,0,5.0,0,0,0,0
1,3.75,9,6,7.5,4,9,6,3,3.75,12,...,6,9,7.5,6,6,7.5,2,6,4,3
2,7.5,3,8,5.0,2,9,4,6,7.5,3,...,2,3,7.5,3,2,7.5,2,0,4,3
3,3.75,6,10,7.5,2,15,4,6,3.75,0,...,0,0,3.75,9,2,7.5,2,0,6,3
4,15.0,9,6,0.0,6,9,4,9,15.0,6,...,4,9,15.0,9,8,0.0,4,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,6,15,10,9,15.0,15,...,10,9,15.0,15,4,5.0,4,12,10,9
243,15.0,15,4,7.5,6,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,8,6,10,9
244,0.0,0,0,5.0,0,0,0,0,0.0,3,...,2,3,0.0,12,2,7.5,2,0,2,3
245,7.5,3,2,0.0,2,12,2,9,7.5,3,...,2,6,7.5,3,8,5.0,8,6,2,6
246,15.0,15,6,5.0,2,6,10,6,15.0,15,...,10,9,15.0,15,6,7.5,6,9,10,9

In [143]:
y_train = df_new.iloc[:, [-10]]
y_train

    23_07_등급
0         D0
1         C+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       D+
245       C+
246       A0

[247 rows x 1 columns]

In [144]:
X_train = pd.concat((df_new.iloc[:, -45:-37], df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19]), axis=1)
X_train

,23_04_구독자점수,23_04_조회수점수,23_04_충성도점수,23_04_구독자 성장율점수,23_04_감성점수점수,23_04_평균_영상간격점수,23_04_평균 영상 좋아요 수 점수,23_04_영상개수 점수,23_05_구독자점수,23_05_조회수점수,...,23_05_평균 영상 좋아요 수 점수,23_05_영상개수 점수,23_06_구독자점수,23_06_조회수점수,23_06_충성도점수,23_06_구독자 성장율점수,23_06_감성점수점수,23_06_평균_영상간격점수,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0,0.0,3,...,2,3,0.0,0,0,0.0,0,0,0,0
1,3.75,9,6,5.0,2,12,6,3,3.75,9,...,6,3,3.75,12,6,7.5,2,6,6,9
2,7.5,6,2,7.5,6,6,4,3,7.5,3,...,4,6,7.5,3,2,7.5,10,0,2,3
3,3.75,9,4,5.0,4,3,6,3,3.75,6,...,4,6,3.75,0,0,7.5,0,0,0,0
4,15.0,6,8,0.0,4,12,4,3,15.0,9,...,4,9,15.0,6,8,5.0,6,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,4,7.5,6,12,10,9,15.0,15,...,10,9,15.0,15,4,5.0,6,15,10,9
243,15.0,15,6,5.0,6,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,6,12,10,9
244,0.0,0,0,0.0,0,0,0,0,0.0,0,...,0,0,0.0,3,2,0.0,2,0,2,3
245,7.5,3,2,5.0,8,9,2,3,7.5,3,...,2,9,7.5,3,6,5.0,6,3,2,6
246,15.0,15,8,5.0,2,3,10,6,15.0,15,...,10,6,15.0,15,8,7.5,4,9,10,9

In [145]:
label_encode_dataframe(y_test, y_test.columns[0])
label_encode_dataframe(y_train, y_train.columns[0])
y_test

C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\1625537586.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\1625537586.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)

     23_08_등급
0           8
1           2
2           6
3           5
4           3
..        ...
242         1
243         1
244         5
245         3
246         3

[247 rows x 1 columns]

In [146]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn import svm
import xgboost as xgb
import lightgbm as lgb

# 사용할 모델 정의
log_reg = LogisticRegression(random_state=42, n_jobs=-1)
SGD = SGDClassifier(random_state=42, n_jobs=-1)
DTree = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
model_xgb = xgb.XGBClassifier(random_state=42, n_jobs=-1)
model_lgb = lgb.LGBMClassifier(random_state=42, n_jobs=-1)

In [147]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

In [148]:
models = []
acc_scores = []
recall_scores = []
precision_scores = []  
f1_scores = []  
for model in [log_reg, rf, model_xgb, model_lgb]:
    clf = model.fit(X_train.values, y_train)
    pred = clf.predict(X_test.values)
    # 평가 지표 계산

    acc = accuracy_score(y_test, pred)
    precsion = precision_score(y_test, pred, average='weighted')
    recall = recall_score(y_test, pred, average='weighted')
    f1 = f1_score(y_test, pred, average='weighted')
    models.append(model.__class__.__name__)
    acc_scores.append(acc)
    precision_scores.append(precsion)
    recall_scores.append(recall)
    f1_scores.append(f1)
result_df = pd.DataFrame({'Model': models, 'Acurracy': acc_scores, 'Recall': recall_scores, 'Precision': precision_scores, 'f1': f1_scores}).reset_index(drop=True)
result_df

c:\anaconda3\envs\py_397\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\839555630.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = model.fit(X_train.values, y_train)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                    Model  Acurracy    Recall  Precision        f1
0      LogisticRegression  0.206478  0.206478   0.194267  0.197782
1  RandomForestClassifier  0.372470  0.372470   0.371846  0.358131
2           XGBClassifier  0.327935  0.327935   0.314306  0.311569
3          LGBMClassifier  0.336032  0.336032   0.327911  0.325919

## 간소화된 등급 예측

In [149]:
y_test = df_new.iloc[:, [-1]]
y_test

    23_08_등급
0          E
1         B+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       C0
245       B0
246       B0

[247 rows x 1 columns]

In [150]:
X_test = pd.concat((df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19], df_new.iloc[:, -18:-10]), axis=1)
X_test

,23_05_구독자점수,23_05_조회수점수,23_05_충성도점수,23_05_구독자 성장율점수,23_05_감성점수점수,23_05_평균_영상간격점수,23_05_평균 영상 좋아요 수 점수,23_05_영상개수 점수,23_06_구독자점수,23_06_조회수점수,...,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수,23_07_구독자점수,23_07_조회수점수,23_07_충성도점수,23_07_구독자 성장율점수,23_07_감성점수점수,23_07_평균_영상간격점수,23_07_평균 영상 좋아요 수 점수,23_07_영상개수 점수
0,0.0,3,2,0.0,6,0,2,3,0.0,0,...,0,0,0.0,0,0,5.0,0,0,0,0
1,3.75,9,6,7.5,4,9,6,3,3.75,12,...,6,9,7.5,6,6,7.5,2,6,4,3
2,7.5,3,8,5.0,2,9,4,6,7.5,3,...,2,3,7.5,3,2,7.5,2,0,4,3
3,3.75,6,10,7.5,2,15,4,6,3.75,0,...,0,0,3.75,9,2,7.5,2,0,6,3
4,15.0,9,6,0.0,6,9,4,9,15.0,6,...,4,9,15.0,9,8,0.0,4,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,6,15,10,9,15.0,15,...,10,9,15.0,15,4,5.0,4,12,10,9
243,15.0,15,4,7.5,6,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,8,6,10,9
244,0.0,0,0,5.0,0,0,0,0,0.0,3,...,2,3,0.0,12,2,7.5,2,0,2,3
245,7.5,3,2,0.0,2,12,2,9,7.5,3,...,2,6,7.5,3,8,5.0,8,6,2,6
246,15.0,15,6,5.0,2,6,10,6,15.0,15,...,10,9,15.0,15,6,7.5,6,9,10,9

In [151]:
y_train = df_new.iloc[:, [-10]]
y_train

    23_07_등급
0         D0
1         C+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       D+
245       C+
246       A0

[247 rows x 1 columns]

In [152]:
X_train = pd.concat((df_new.iloc[:, -45:-37], df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19]), axis=1)
X_train

,23_04_구독자점수,23_04_조회수점수,23_04_충성도점수,23_04_구독자 성장율점수,23_04_감성점수점수,23_04_평균_영상간격점수,23_04_평균 영상 좋아요 수 점수,23_04_영상개수 점수,23_05_구독자점수,23_05_조회수점수,...,23_05_평균 영상 좋아요 수 점수,23_05_영상개수 점수,23_06_구독자점수,23_06_조회수점수,23_06_충성도점수,23_06_구독자 성장율점수,23_06_감성점수점수,23_06_평균_영상간격점수,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0,0.0,3,...,2,3,0.0,0,0,0.0,0,0,0,0
1,3.75,9,6,5.0,2,12,6,3,3.75,9,...,6,3,3.75,12,6,7.5,2,6,6,9
2,7.5,6,2,7.5,6,6,4,3,7.5,3,...,4,6,7.5,3,2,7.5,10,0,2,3
3,3.75,9,4,5.0,4,3,6,3,3.75,6,...,4,6,3.75,0,0,7.5,0,0,0,0
4,15.0,6,8,0.0,4,12,4,3,15.0,9,...,4,9,15.0,6,8,5.0,6,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,4,7.5,6,12,10,9,15.0,15,...,10,9,15.0,15,4,5.0,6,15,10,9
243,15.0,15,6,5.0,6,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,6,12,10,9
244,0.0,0,0,0.0,0,0,0,0,0.0,0,...,0,0,0.0,3,2,0.0,2,0,2,3
245,7.5,3,2,5.0,8,9,2,3,7.5,3,...,2,9,7.5,3,6,5.0,6,3,2,6
246,15.0,15,8,5.0,2,3,10,6,15.0,15,...,10,6,15.0,15,8,7.5,4,9,10,9

In [153]:
def label_encode_dataframe_2(df, column_name):
    label_mapping = {
        'A+': 0, 'A0': 0, 'B+': 1, 'B0': 1,
        'C+': 2, 'C0': 2, 'D+': 3, 'D0': 3,
        'E': 4, 'F': 4
    }
    df[column_name] = df[column_name].map(label_mapping)
    return df

In [154]:
label_encode_dataframe_2(y_test, y_test.columns[0])
label_encode_dataframe_2(y_train, y_train.columns[0])
y_test

C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\3906280974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\3906280974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)

     23_08_등급
0           4
1           1
2           3
3           2
4           1
..        ...
242         0
243         0
244         2
245         1
246         1

[247 rows x 1 columns]

In [155]:
X_train = X_train.astype('float')
X_test = X_test.astype('float')

In [156]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn import svm
import xgboost as xgb
import lightgbm as lgb

# 사용할 모델 정의
log_reg = LogisticRegression(random_state=42, n_jobs=-1)
SGD = SGDClassifier(random_state=42, n_jobs=-1)
DTree = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
model_xgb = xgb.XGBClassifier(random_state=42, n_jobs=-1)
model_lgb = lgb.LGBMClassifier(random_state=42, n_jobs=-1)

In [157]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [158]:
models = []
acc_scores = []
recall_scores = []
precision_scores = []  
f1_scores = []  
for model in [log_reg, rf, model_xgb, model_lgb]:
    clf = model.fit(X_train, y_train)
    pred = clf.predict(X_test.values)
    # 평가 지표 계산

    acc = accuracy_score(y_test, pred)
    precsion = precision_score(y_test, pred, average='weighted')
    recall = recall_score(y_test, pred, average='weighted')
    f1 = f1_score(y_test, pred, average='weighted')
    models.append(model.__class__.__name__)
    acc_scores.append(acc)
    precision_scores.append(precsion)
    recall_scores.append(recall)
    f1_scores.append(f1)
result_df = pd.DataFrame({'Model': models, 'Acurracy': acc_scores, 'Recall': recall_scores, 'Precision': precision_scores, 'f1': f1_scores}).reset_index(drop=True)
result_df

c:\anaconda3\envs\py_397\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\2518833286.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = model.fit(X_train, y_train)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                    Model  Acurracy    Recall  Precision        f1
0      LogisticRegression  0.453441  0.453441   0.429486  0.440341
1  RandomForestClassifier  0.562753  0.562753   0.564615  0.555828
2           XGBClassifier  0.582996  0.582996   0.595607  0.584904
3          LGBMClassifier  0.595142  0.595142   0.602051  0.595969

## 인기, 비인기 예측

In [159]:
y_test = df_new.iloc[:, [-1]]
y_test

    23_08_등급
0          E
1         B+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       C0
245       B0
246       B0

[247 rows x 1 columns]

In [160]:
X_test = pd.concat((df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19], df_new.iloc[:, -18:-10]), axis=1)
X_test

,23_05_구독자점수,23_05_조회수점수,23_05_충성도점수,23_05_구독자 성장율점수,23_05_감성점수점수,23_05_평균_영상간격점수,23_05_평균 영상 좋아요 수 점수,23_05_영상개수 점수,23_06_구독자점수,23_06_조회수점수,...,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수,23_07_구독자점수,23_07_조회수점수,23_07_충성도점수,23_07_구독자 성장율점수,23_07_감성점수점수,23_07_평균_영상간격점수,23_07_평균 영상 좋아요 수 점수,23_07_영상개수 점수
0,0.0,3,2,0.0,6,0,2,3,0.0,0,...,0,0,0.0,0,0,5.0,0,0,0,0
1,3.75,9,6,7.5,4,9,6,3,3.75,12,...,6,9,7.5,6,6,7.5,2,6,4,3
2,7.5,3,8,5.0,2,9,4,6,7.5,3,...,2,3,7.5,3,2,7.5,2,0,4,3
3,3.75,6,10,7.5,2,15,4,6,3.75,0,...,0,0,3.75,9,2,7.5,2,0,6,3
4,15.0,9,6,0.0,6,9,4,9,15.0,6,...,4,9,15.0,9,8,0.0,4,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,6,15,10,9,15.0,15,...,10,9,15.0,15,4,5.0,4,12,10,9
243,15.0,15,4,7.5,6,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,8,6,10,9
244,0.0,0,0,5.0,0,0,0,0,0.0,3,...,2,3,0.0,12,2,7.5,2,0,2,3
245,7.5,3,2,0.0,2,12,2,9,7.5,3,...,2,6,7.5,3,8,5.0,8,6,2,6
246,15.0,15,6,5.0,2,6,10,6,15.0,15,...,10,9,15.0,15,6,7.5,6,9,10,9

In [161]:
y_train = df_new.iloc[:, [-10]]

In [162]:
X_train = pd.concat((df_new.iloc[:, -45:-37], df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19]), axis=1)
X_train

,23_04_구독자점수,23_04_조회수점수,23_04_충성도점수,23_04_구독자 성장율점수,23_04_감성점수점수,23_04_평균_영상간격점수,23_04_평균 영상 좋아요 수 점수,23_04_영상개수 점수,23_05_구독자점수,23_05_조회수점수,...,23_05_평균 영상 좋아요 수 점수,23_05_영상개수 점수,23_06_구독자점수,23_06_조회수점수,23_06_충성도점수,23_06_구독자 성장율점수,23_06_감성점수점수,23_06_평균_영상간격점수,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0,0.0,3,...,2,3,0.0,0,0,0.0,0,0,0,0
1,3.75,9,6,5.0,2,12,6,3,3.75,9,...,6,3,3.75,12,6,7.5,2,6,6,9
2,7.5,6,2,7.5,6,6,4,3,7.5,3,...,4,6,7.5,3,2,7.5,10,0,2,3
3,3.75,9,4,5.0,4,3,6,3,3.75,6,...,4,6,3.75,0,0,7.5,0,0,0,0
4,15.0,6,8,0.0,4,12,4,3,15.0,9,...,4,9,15.0,6,8,5.0,6,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,4,7.5,6,12,10,9,15.0,15,...,10,9,15.0,15,4,5.0,6,15,10,9
243,15.0,15,6,5.0,6,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,6,12,10,9
244,0.0,0,0,0.0,0,0,0,0,0.0,0,...,0,0,0.0,3,2,0.0,2,0,2,3
245,7.5,3,2,5.0,8,9,2,3,7.5,3,...,2,9,7.5,3,6,5.0,6,3,2,6
246,15.0,15,8,5.0,2,3,10,6,15.0,15,...,10,6,15.0,15,8,7.5,4,9,10,9

In [163]:
label_encode_dataframe_3(y_test, y_test.columns[0])
label_encode_dataframe_3(y_train, y_train.columns[0])
y_test

C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\2928109579.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\2928109579.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)

     23_08_등급
0           1
1           0
2           1
3           1
4           0
..        ...
242         0
243         0
244         1
245         0
246         0

[247 rows x 1 columns]

In [164]:
X_train = X_train.astype('float')
X_test = X_test.astype('float')

In [165]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn import svm
import xgboost as xgb
import lightgbm as lgb

# 사용할 모델 정의
log_reg = LogisticRegression(random_state=42, n_jobs=-1)
SGD = SGDClassifier(random_state=42, n_jobs=-1)
DTree = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
model_xgb = xgb.XGBClassifier(random_state=42, n_jobs=-1)
model_lgb = lgb.LGBMClassifier(random_state=42, n_jobs=-1)

In [166]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [167]:
models = []
acc_scores = []
recall_scores = []
precision_scores = []  
f1_scores = []  
for model in [log_reg, rf, model_xgb, model_lgb]:
    clf = model.fit(X_train.values, y_train)
    pred = clf.predict(X_test.values)
    # 평가 지표 계산

    acc = accuracy_score(y_test, pred)
    precsion = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)
    models.append(model.__class__.__name__)
    acc_scores.append(acc)
    precision_scores.append(precsion)
    recall_scores.append(recall)
    f1_scores.append(f1)
result_df = pd.DataFrame({'Model': models, 'Acurracy': acc_scores, 'Recall': recall_scores, 'Precision': precision_scores, 'f1': f1_scores}).reset_index(drop=True)
result_df

c:\anaconda3\envs\py_397\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\1800382665.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = model.fit(X_train.values, y_train)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                    Model  Acurracy    Recall  Precision        f1
0      LogisticRegression  0.817814  0.818182   0.837209  0.827586
1  RandomForestClassifier  0.862348  0.878788   0.865672  0.872180
2           XGBClassifier  0.874494  0.878788   0.885496  0.882129
3          LGBMClassifier  0.874494  0.924242   0.853147  0.887273

### 예측 확률 계산

In [168]:
# df_new['예측확률'] = pd.DataFrame(model_xgb.predict_proba(X_test.values))[1]

In [169]:
# df_new['인기_비인기_여부'] = y_test

In [170]:
# df_new

In [171]:
# df_new.to_excel('./data/등급_예측.xlsx', index=False)

# 6개월치 데이터로 예측

## 등급 자체를 예측

In [172]:
y_test = df_new.iloc[:, [-1]]
y_test

    23_08_등급
0          E
1         B+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       C0
245       B0
246       B0

[247 rows x 1 columns]

In [173]:
X_test = pd.concat((df_new.iloc[:, -63:-55], df_new.iloc[:, -54:-46], df_new.iloc[:, -45:-37], df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19], df_new.iloc[:, -18:-10]), axis=1)
X_test

,23_02_구독자점수,23_02_조회수점수,23_02_충성도점수,23_02_구독자 성장율점수,23_02_감성점수점수,23_02_평균_영상간격점수,23_02_평균 영상 좋아요 수 점수,23_02_영상개수 점수,23_03_구독자점수,23_03_조회수점수,...,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수,23_07_구독자점수,23_07_조회수점수,23_07_충성도점수,23_07_구독자 성장율점수,23_07_감성점수점수,23_07_평균_영상간격점수,23_07_평균 영상 좋아요 수 점수,23_07_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0,0.0,0,...,0,0,0.0,0,0,5.0,0,0,0,0
1,3.75,6,4,5.0,8,6,4,6,3.75,6,...,6,9,7.5,6,6,7.5,2,6,4,3
2,7.5,3,2,7.5,4,0,4,3,7.5,3,...,2,3,7.5,3,2,7.5,2,0,4,3
3,3.75,9,2,0.0,2,0,6,3,3.75,12,...,0,0,3.75,9,2,7.5,2,0,6,3
4,15.0,6,8,0.0,8,9,4,9,15.0,6,...,4,9,15.0,9,8,0.0,4,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,8,15,10,9,15.0,15,...,10,9,15.0,15,4,5.0,4,12,10,9
243,15.0,15,4,5.0,4,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,8,6,10,9
244,0.0,0,0,5.0,0,0,0,0,0.0,0,...,2,3,0.0,12,2,7.5,2,0,2,3
245,7.5,6,2,5.0,2,6,2,6,7.5,6,...,2,6,7.5,3,8,5.0,8,6,2,6
246,15.0,15,6,0.0,8,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,6,9,10,9

In [174]:
y_train = df_new.iloc[:, [-10]]
y_train

    23_07_등급
0         D0
1         C+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       D+
245       C+
246       A0

[247 rows x 1 columns]

In [175]:
X_train = pd.concat((df_new.iloc[:, -72:-64], df_new.iloc[:, -63:-55], df_new.iloc[:, -54:-46], df_new.iloc[:, -45:-37], df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19]), axis=1)
X_train

,23_01_구독자점수,23_01_조회수점수,23_01_충성도점수,23_01_구독자 성장율점수,23_01_감성점수점수,23_01_평균_영상간격점수,23_01_평균 영상 좋아요 수 점수,23_01_영상개수 점수,23_02_구독자점수,23_02_조회수점수,...,23_05_평균 영상 좋아요 수 점수,23_05_영상개수 점수,23_06_구독자점수,23_06_조회수점수,23_06_충성도점수,23_06_구독자 성장율점수,23_06_감성점수점수,23_06_평균_영상간격점수,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0,0.0,0,...,2,3,0.0,0,0,0.0,0,0,0,0
1,3.75,9,4,5.0,2,3,4,3,3.75,6,...,6,3,3.75,12,6,7.5,2,6,6,9
2,7.5,3,0,7.5,0,0,4,3,7.5,3,...,4,6,7.5,3,2,7.5,10,0,2,3
3,3.75,6,2,0.0,6,0,4,3,3.75,9,...,4,6,3.75,0,0,7.5,0,0,0,0
4,15.0,6,8,5.0,6,9,4,9,15.0,6,...,4,9,15.0,6,8,5.0,6,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,6,5.0,6,12,10,9,15.0,15,...,10,9,15.0,15,4,5.0,6,15,10,9
243,15.0,15,4,5.0,8,6,10,9,15.0,15,...,10,9,15.0,15,6,7.5,6,12,10,9
244,0.0,3,2,7.5,8,0,2,3,0.0,0,...,0,0,0.0,3,2,0.0,2,0,2,3
245,7.5,3,2,0.0,8,0,2,3,7.5,6,...,2,9,7.5,3,6,5.0,6,3,2,6
246,15.0,15,8,5.0,4,9,10,3,15.0,15,...,10,6,15.0,15,8,7.5,4,9,10,9

In [176]:
label_encode_dataframe(y_test, y_test.columns[0])
label_encode_dataframe(y_train, y_train.columns[0])
y_test

C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\1625537586.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\1625537586.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)

     23_08_등급
0           8
1           2
2           6
3           5
4           3
..        ...
242         1
243         1
244         5
245         3
246         3

[247 rows x 1 columns]

In [177]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn import svm
import xgboost as xgb
import lightgbm as lgb

# 사용할 모델 정의
log_reg = LogisticRegression(random_state=42, n_jobs=-1)
SGD = SGDClassifier(random_state=42, n_jobs=-1)
DTree = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
model_xgb = xgb.XGBClassifier(random_state=42, n_jobs=-1)
model_lgb = lgb.LGBMClassifier(random_state=42, n_jobs=-1)

In [178]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

In [179]:
models = []
acc_scores = []
recall_scores = []
precision_scores = []  
f1_scores = []  
for model in [log_reg, rf, model_xgb, model_lgb]:
    clf = model.fit(X_train.values, y_train)
    pred = clf.predict(X_test.values)
    # 평가 지표 계산

    acc = accuracy_score(y_test, pred)
    precsion = precision_score(y_test, pred, average='weighted')
    recall = recall_score(y_test, pred, average='weighted')
    f1 = f1_score(y_test, pred, average='weighted')
    models.append(model.__class__.__name__)
    acc_scores.append(acc)
    precision_scores.append(precsion)
    recall_scores.append(recall)
    f1_scores.append(f1)
result_df = pd.DataFrame({'Model': models, 'Acurracy': acc_scores, 'Recall': recall_scores, 'Precision': precision_scores, 'f1': f1_scores}).reset_index(drop=True)
result_df

c:\anaconda3\envs\py_397\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\839555630.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = model.fit(X_train.values, y_train)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                    Model  Acurracy    Recall  Precision        f1
0      LogisticRegression  0.214575  0.214575   0.214950  0.212412
1  RandomForestClassifier  0.408907  0.408907   0.379818  0.381809
2           XGBClassifier  0.368421  0.368421   0.354075  0.358512
3          LGBMClassifier  0.340081  0.340081   0.326445  0.330913

## 간소화된 등급 예측

In [180]:
y_test = df_new.iloc[:, [-1]]
y_test

    23_08_등급
0          E
1         B+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       C0
245       B0
246       B0

[247 rows x 1 columns]

In [181]:
X_test = pd.concat((df_new.iloc[:, -63:-55], df_new.iloc[:, -54:-46], df_new.iloc[:, -45:-37], df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19], df_new.iloc[:, -18:-10]), axis=1)
X_test

,23_02_구독자점수,23_02_조회수점수,23_02_충성도점수,23_02_구독자 성장율점수,23_02_감성점수점수,23_02_평균_영상간격점수,23_02_평균 영상 좋아요 수 점수,23_02_영상개수 점수,23_03_구독자점수,23_03_조회수점수,...,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수,23_07_구독자점수,23_07_조회수점수,23_07_충성도점수,23_07_구독자 성장율점수,23_07_감성점수점수,23_07_평균_영상간격점수,23_07_평균 영상 좋아요 수 점수,23_07_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0,0.0,0,...,0,0,0.0,0,0,5.0,0,0,0,0
1,3.75,6,4,5.0,8,6,4,6,3.75,6,...,6,9,7.5,6,6,7.5,2,6,4,3
2,7.5,3,2,7.5,4,0,4,3,7.5,3,...,2,3,7.5,3,2,7.5,2,0,4,3
3,3.75,9,2,0.0,2,0,6,3,3.75,12,...,0,0,3.75,9,2,7.5,2,0,6,3
4,15.0,6,8,0.0,8,9,4,9,15.0,6,...,4,9,15.0,9,8,0.0,4,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,8,15,10,9,15.0,15,...,10,9,15.0,15,4,5.0,4,12,10,9
243,15.0,15,4,5.0,4,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,8,6,10,9
244,0.0,0,0,5.0,0,0,0,0,0.0,0,...,2,3,0.0,12,2,7.5,2,0,2,3
245,7.5,6,2,5.0,2,6,2,6,7.5,6,...,2,6,7.5,3,8,5.0,8,6,2,6
246,15.0,15,6,0.0,8,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,6,9,10,9

In [182]:
y_train = df_new.iloc[:, [-10]]
y_train

    23_07_등급
0         D0
1         C+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       D+
245       C+
246       A0

[247 rows x 1 columns]

In [183]:
X_train = pd.concat((df_new.iloc[:, -72:-64], df_new.iloc[:, -63:-55], df_new.iloc[:, -54:-46], df_new.iloc[:, -45:-37], df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19]), axis=1)
X_train

,23_01_구독자점수,23_01_조회수점수,23_01_충성도점수,23_01_구독자 성장율점수,23_01_감성점수점수,23_01_평균_영상간격점수,23_01_평균 영상 좋아요 수 점수,23_01_영상개수 점수,23_02_구독자점수,23_02_조회수점수,...,23_05_평균 영상 좋아요 수 점수,23_05_영상개수 점수,23_06_구독자점수,23_06_조회수점수,23_06_충성도점수,23_06_구독자 성장율점수,23_06_감성점수점수,23_06_평균_영상간격점수,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0,0.0,0,...,2,3,0.0,0,0,0.0,0,0,0,0
1,3.75,9,4,5.0,2,3,4,3,3.75,6,...,6,3,3.75,12,6,7.5,2,6,6,9
2,7.5,3,0,7.5,0,0,4,3,7.5,3,...,4,6,7.5,3,2,7.5,10,0,2,3
3,3.75,6,2,0.0,6,0,4,3,3.75,9,...,4,6,3.75,0,0,7.5,0,0,0,0
4,15.0,6,8,5.0,6,9,4,9,15.0,6,...,4,9,15.0,6,8,5.0,6,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,6,5.0,6,12,10,9,15.0,15,...,10,9,15.0,15,4,5.0,6,15,10,9
243,15.0,15,4,5.0,8,6,10,9,15.0,15,...,10,9,15.0,15,6,7.5,6,12,10,9
244,0.0,3,2,7.5,8,0,2,3,0.0,0,...,0,0,0.0,3,2,0.0,2,0,2,3
245,7.5,3,2,0.0,8,0,2,3,7.5,6,...,2,9,7.5,3,6,5.0,6,3,2,6
246,15.0,15,8,5.0,4,9,10,3,15.0,15,...,10,6,15.0,15,8,7.5,4,9,10,9

In [184]:
def label_encode_dataframe_2(df, column_name):
    label_mapping = {
        'A+': 0, 'A0': 0, 'B+': 1, 'B0': 1,
        'C+': 2, 'C0': 2, 'D+': 3, 'D0': 3,
        'E': 4, 'F': 4
    }
    df[column_name] = df[column_name].map(label_mapping)
    return df

In [185]:
label_encode_dataframe_2(y_test, y_test.columns[0])
label_encode_dataframe_2(y_train, y_train.columns[0])
y_test

C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\3906280974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\3906280974.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)

     23_08_등급
0           4
1           1
2           3
3           2
4           1
..        ...
242         0
243         0
244         2
245         1
246         1

[247 rows x 1 columns]

In [186]:
X_train = X_train.astype('float')
X_test = X_test.astype('float')

In [187]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn import svm
import xgboost as xgb
import lightgbm as lgb

# 사용할 모델 정의
log_reg = LogisticRegression(random_state=42, n_jobs=-1)
SGD = SGDClassifier(random_state=42, n_jobs=-1)
DTree = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
model_xgb = xgb.XGBClassifier(random_state=42, n_jobs=-1)
model_lgb = lgb.LGBMClassifier(random_state=42, n_jobs=-1)

In [188]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [189]:
models = []
acc_scores = []
recall_scores = []
precision_scores = []  
f1_scores = []  
for model in [log_reg,  rf, model_xgb, model_lgb]:
    clf = model.fit(X_train, y_train)
    pred = clf.predict(X_test.values)
    # 평가 지표 계산

    acc = accuracy_score(y_test, pred)
    precsion = precision_score(y_test, pred, average='weighted')
    recall = recall_score(y_test, pred, average='weighted')
    f1 = f1_score(y_test, pred, average='weighted')
    models.append(model.__class__.__name__)
    acc_scores.append(acc)
    precision_scores.append(precsion)
    recall_scores.append(recall)
    f1_scores.append(f1)
result_df = pd.DataFrame({'Model': models, 'Acurracy': acc_scores, 'Recall': recall_scores, 'Precision': precision_scores, 'f1': f1_scores}).reset_index(drop=True)
result_df

c:\anaconda3\envs\py_397\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\1352071765.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = model.fit(X_train, y_train)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                    Model  Acurracy    Recall  Precision        f1
0      LogisticRegression  0.429150  0.429150   0.434357  0.428463
1  RandomForestClassifier  0.615385  0.615385   0.628546  0.615248
2           XGBClassifier  0.574899  0.574899   0.580744  0.574543
3          LGBMClassifier  0.603239  0.603239   0.606237  0.602085

## 인기, 비인기 예측

In [190]:
y_test = df_new.iloc[:, [-1]]
y_test

    23_08_등급
0          E
1         B+
2         D+
3         C0
4         B0
..       ...
242       A0
243       A0
244       C0
245       B0
246       B0

[247 rows x 1 columns]

In [191]:
X_test = pd.concat((df_new.iloc[:, -63:-55], df_new.iloc[:, -54:-46], df_new.iloc[:, -45:-37], df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19], df_new.iloc[:, -18:-10]), axis=1)
X_test

,23_02_구독자점수,23_02_조회수점수,23_02_충성도점수,23_02_구독자 성장율점수,23_02_감성점수점수,23_02_평균_영상간격점수,23_02_평균 영상 좋아요 수 점수,23_02_영상개수 점수,23_03_구독자점수,23_03_조회수점수,...,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수,23_07_구독자점수,23_07_조회수점수,23_07_충성도점수,23_07_구독자 성장율점수,23_07_감성점수점수,23_07_평균_영상간격점수,23_07_평균 영상 좋아요 수 점수,23_07_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0,0.0,0,...,0,0,0.0,0,0,5.0,0,0,0,0
1,3.75,6,4,5.0,8,6,4,6,3.75,6,...,6,9,7.5,6,6,7.5,2,6,4,3
2,7.5,3,2,7.5,4,0,4,3,7.5,3,...,2,3,7.5,3,2,7.5,2,0,4,3
3,3.75,9,2,0.0,2,0,6,3,3.75,12,...,0,0,3.75,9,2,7.5,2,0,6,3
4,15.0,6,8,0.0,8,9,4,9,15.0,6,...,4,9,15.0,9,8,0.0,4,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,4,5.0,8,15,10,9,15.0,15,...,10,9,15.0,15,4,5.0,4,12,10,9
243,15.0,15,4,5.0,4,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,8,6,10,9
244,0.0,0,0,5.0,0,0,0,0,0.0,0,...,2,3,0.0,12,2,7.5,2,0,2,3
245,7.5,6,2,5.0,2,6,2,6,7.5,6,...,2,6,7.5,3,8,5.0,8,6,2,6
246,15.0,15,6,0.0,8,12,10,9,15.0,15,...,10,9,15.0,15,6,7.5,6,9,10,9

In [192]:
y_train = df_new.iloc[:, [-10]]

In [193]:
X_train = pd.concat((df_new.iloc[:, -72:-64], df_new.iloc[:, -63:-55], df_new.iloc[:, -54:-46], df_new.iloc[:, -45:-37], df_new.iloc[:, -36:-28], df_new.iloc[:, -27:-19]), axis=1)
X_train

,23_01_구독자점수,23_01_조회수점수,23_01_충성도점수,23_01_구독자 성장율점수,23_01_감성점수점수,23_01_평균_영상간격점수,23_01_평균 영상 좋아요 수 점수,23_01_영상개수 점수,23_02_구독자점수,23_02_조회수점수,...,23_05_평균 영상 좋아요 수 점수,23_05_영상개수 점수,23_06_구독자점수,23_06_조회수점수,23_06_충성도점수,23_06_구독자 성장율점수,23_06_감성점수점수,23_06_평균_영상간격점수,23_06_평균 영상 좋아요 수 점수,23_06_영상개수 점수
0,0.0,0,0,5.0,0,0,0,0,0.0,0,...,2,3,0.0,0,0,0.0,0,0,0,0
1,3.75,9,4,5.0,2,3,4,3,3.75,6,...,6,3,3.75,12,6,7.5,2,6,6,9
2,7.5,3,0,7.5,0,0,4,3,7.5,3,...,4,6,7.5,3,2,7.5,10,0,2,3
3,3.75,6,2,0.0,6,0,4,3,3.75,9,...,4,6,3.75,0,0,7.5,0,0,0,0
4,15.0,6,8,5.0,6,9,4,9,15.0,6,...,4,9,15.0,6,8,5.0,6,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,15.0,15,6,5.0,6,12,10,9,15.0,15,...,10,9,15.0,15,4,5.0,6,15,10,9
243,15.0,15,4,5.0,8,6,10,9,15.0,15,...,10,9,15.0,15,6,7.5,6,12,10,9
244,0.0,3,2,7.5,8,0,2,3,0.0,0,...,0,0,0.0,3,2,0.0,2,0,2,3
245,7.5,3,2,0.0,8,0,2,3,7.5,6,...,2,9,7.5,3,6,5.0,6,3,2,6
246,15.0,15,8,5.0,4,9,10,3,15.0,15,...,10,6,15.0,15,8,7.5,4,9,10,9

In [194]:
label_encode_dataframe_3(y_test, y_test.columns[0])
label_encode_dataframe_3(y_train, y_train.columns[0])
y_test

C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\2928109579.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\2928109579.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].map(label_mapping)

     23_08_등급
0           1
1           0
2           1
3           1
4           0
..        ...
242         0
243         0
244         1
245         0
246         0

[247 rows x 1 columns]

In [195]:
X_train = X_train.astype('float')
X_test = X_test.astype('float')

In [196]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn import svm
import xgboost as xgb
import lightgbm as lgb

# 사용할 모델 정의
log_reg = LogisticRegression(random_state=42, n_jobs=-1)
SGD = SGDClassifier(random_state=42, n_jobs=-1)
DTree = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
model_xgb = xgb.XGBClassifier(random_state=42, n_jobs=-1)
model_lgb = lgb.LGBMClassifier(random_state=42, n_jobs=-1)

In [197]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [198]:
models = []
acc_scores = []
recall_scores = []
precision_scores = []  
f1_scores = []  
for model in [log_reg, rf, model_xgb, model_lgb]:
    clf = model.fit(X_train.values, y_train)
    pred = clf.predict(X_test.values)
    # 평가 지표 계산

    acc = accuracy_score(y_test, pred)
    precsion = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)
    models.append(model.__class__.__name__)
    acc_scores.append(acc)
    precision_scores.append(precsion)
    recall_scores.append(recall)
    f1_scores.append(f1)
result_df = pd.DataFrame({'Model': models, 'Acurracy': acc_scores, 'Recall': recall_scores, 'Precision': precision_scores, 'f1': f1_scores}).reset_index(drop=True)
result_df

c:\anaconda3\envs\py_397\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Mgyu\AppData\Local\Temp\ipykernel_13180\1800382665.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = model.fit(X_train.values, y_train)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\anaconda3\envs\py_397\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                    Model  Acurracy    Recall  Precision        f1
0      LogisticRegression  0.789474  0.787879   0.812500  0.800000
1  RandomForestClassifier  0.850202  0.863636   0.857143  0.860377
2           XGBClassifier  0.866397  0.893939   0.861314  0.877323
3          LGBMClassifier  0.842105  0.856061   0.849624  0.852830