In [2]:
import pandas as pd

c:\anaconda3\envs\py_397\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\anaconda3\envs\py_397\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
c:\anaconda3\envs\py_397\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [7]:
total_video = pd.read_csv("./data/total_video_df.csv")
total_video.head()

,Unnamed: 0,제목,URL,조회수,업데이트 날짜,영상 길이,영상 좋아요 수,채널명
0,0,9월 브이로그. 간절기 바지 쇼핑. 육아휴직중인 가족의 일주일,https://www.youtube.com/watch?v=m4bn47CzVfU,1047,2023-09-18,0:14:12,NaN,@ceungyeon
1,1,9월 브이로그. 68키로에서 59까지의 일상 ing.. 일 다이어트 육아 + 쇼핑은...,https://www.youtube.com/watch?v=Hh0YD4g6Dcw,1293,2023-09-10,0:15:22,NaN,@ceungyeon
2,2,"보스이조후쿠오카에서 꼭 해야할 6가지, 뻔하지 않은 후쿠오카 여행하기",https://www.youtube.com/watch?v=02OZK_8FzOM,1447,2023-05-30,0:03:39,NaN,@Mingokim
3,3,자외선 꼼꼼히 차단하는 간단 베이스메이크업 순서 알려드림!,https://www.youtube.com/watch?v=z6nLDZT3Ud0,233,2021-05-21,0:02:29,NaN,@Mingokim
4,4,"닥터자르트 시카페어 세럼, 크림으로 민감피부 환절기 스킨케어 하기",https://www.youtube.com/watch?v=RL06V3cFfbk,1267,2021-03-14,0:00:59,NaN,@Mingokim

In [8]:
total_video['업데이트 날짜'] = pd.to_datetime(total_video['업데이트 날짜'])
total_video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59901 entries, 0 to 59900
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  59901 non-null  int64
 1   제목          59901 non-null  object
 2   URL         59901 non-null  object
 3   조회수         59901 non-null  int64
 4   업데이트 날짜     59901 non-null  datetime64[ns]
 5   영상 길이       59901 non-null  object
 6   영상 좋아요 수    0 non-null      float64
 7   채널명         59901 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 3.7+ MB

In [3]:
df_frame = pd.read_excel('./data/간격_master_df.xlsx')
df_frame

      Unnamed: 0        유투버        월
0              0  @Mingokim   2021/8
1              1  @Mingokim   2021/9
2              2  @Mingokim  2021/10
3              3  @Mingokim  2021/11
4              4  @Mingokim  2021/12
...          ...        ...      ...
6395        6395         희주   2023/4
6396        6396         희주   2023/5
6397        6397         희주   2023/6
6398        6398         희주   2023/7
6399        6399         희주   2023/8

[6400 rows x 3 columns]

In [4]:
import numpy as np
df_frame['평균_영상간격'] = np.nan
df_frame['영상_개수'] = np.nan
df_frame

      Unnamed: 0        유투버        월  평균_영상간격  영상_개수
0              0  @Mingokim   2021/8      NaN    NaN
1              1  @Mingokim   2021/9      NaN    NaN
2              2  @Mingokim  2021/10      NaN    NaN
3              3  @Mingokim  2021/11      NaN    NaN
4              4  @Mingokim  2021/12      NaN    NaN
...          ...        ...      ...      ...    ...
6395        6395         희주   2023/4      NaN    NaN
6396        6396         희주   2023/5      NaN    NaN
6397        6397         희주   2023/6      NaN    NaN
6398        6398         희주   2023/7      NaN    NaN
6399        6399         희주   2023/8      NaN    NaN

[6400 rows x 5 columns]

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [12]:
total_video[total_video['채널명'] == name][['업데이트 날짜','채널명']]

         업데이트 날짜 채널명
59777 2023-09-28  희주
59778 2023-09-15  희주
59779 2023-09-02  희주
59780 2023-08-26  희주
59781 2023-08-05  희주
...          ...  ..
59896 2019-12-14  희주
59897 2019-08-21  희주
59898 2019-07-03  희주
59899 2018-10-14  희주
59900 2018-01-28  희주

[124 rows x 2 columns]

In [14]:
len(end_date)

26

In [15]:
start_date = [pd.to_datetime('2021-08-01'), pd.to_datetime('2021-09-01'), pd.to_datetime('2021-10-01'), pd.to_datetime('2021-11-01'), pd.to_datetime('2021-12-01'), pd.to_datetime('2022-01-01'), pd.to_datetime('2022-02-01'), pd.to_datetime('2022-03-01'),
                pd.to_datetime('2022-04-01'), pd.to_datetime('2022-05-01'), pd.to_datetime('2022-06-01'), pd.to_datetime('2022-07-01'), pd.to_datetime('2022-08-01'),
                pd.to_datetime('2022-09-01'), pd.to_datetime('2022-10-01'), pd.to_datetime('2022-11-01'), pd.to_datetime('2022-12-01'), pd.to_datetime('2023-01-01'), pd.to_datetime('2023-02-01'), pd.to_datetime('2023-03-01'),
                pd.to_datetime('2023-04-01'), pd.to_datetime('2023-05-01'), pd.to_datetime('2023-06-01'), pd.to_datetime('2023-07-01'), pd.to_datetime('2023-08-01')]

end_date = [pd.to_datetime('2021-08-31'), pd.to_datetime('2021-09-30'), pd.to_datetime('2021-10-31'), pd.to_datetime('2021-11-30'), pd.to_datetime('2021-12-31'), pd.to_datetime('2022-01-31'), pd.to_datetime('2022-02-28'), pd.to_datetime('2022-03-31'),
                pd.to_datetime('2022-04-30'), pd.to_datetime('2022-05-31'), pd.to_datetime('2022-06-30'), pd.to_datetime('2022-07-31'), pd.to_datetime('2022-08-31'),
             pd.to_datetime('2022-09-30'), pd.to_datetime('2022-10-31'), pd.to_datetime('2022-11-30'), pd.to_datetime('2022-12-31'), pd.to_datetime('2023-01-31'), pd.to_datetime('2023-02-28'), pd.to_datetime('2023-03-31'),
                pd.to_datetime('2023-04-30'), pd.to_datetime('2023-05-31'), pd.to_datetime('2023-06-30'), pd.to_datetime('2023-07-31'), pd.to_datetime('2023-08-31')]

for name in df_frame['유투버'].unique():
    print(name)
    date_df = total_video[total_video['채널명'] == name][['업데이트 날짜','채널명']].sort_values(by='업데이트 날짜', ascending=True)
    temp = []
    temp_num = []
    for i in range(len(start_date)):
        filtered_df = date_df[(date_df['업데이트 날짜'] >= start_date[i]) & (date_df['업데이트 날짜'] <= end_date[i])]
        # 업데이트 날짜의 간격 일자를 구하기
        filtered_df['term'] = filtered_df['업데이트 날짜'].diff()
        filtered_df['term'] = filtered_df['term'].dt.days
        mean_diff = filtered_df['term'].mean()
        temp.append(mean_diff)
        temp_num.append(len(filtered_df))
    df_frame.loc[df_frame['유투버'] == name, '평균_영상간격'] = temp
    df_frame.loc[df_frame['유투버'] == name, '영상_개수'] = temp_num

@Mingokim
@yekooooong
benny8282_nail
bird 정은
Coco Riley
COLIZET콜리젯TV
Coral코랄
DAISY 데이지
DrDr
Hazel하정
hello,jiyoung안녕하신지영
HYEBBEUM혜쁨
Jaelimize재림
jang.hope장호프
jella젤라
JJUDRE쭈드레
jjuE쭈이
Junsoo함준수
juyeomi
KINGSTON킹스턴
Kongsueni콩슈니
krystal수정
Laila라일라
lamuqe
lasagesse지혜
LUCY루씨
moodin은송
Ood 오드
Ori오리의소비로그
Queen Solmee
SELFCARE 결
So Young
SOLA솔아
SOONSIKI
SSUIMAG
SUMINI
Summer-mute썸뮤
Syong'sbeauty숑스뷰티
tency텐씨
VIVA여나
wandashow
wonhee
yootrue_in_air
zoopeach 지우
강성
거노건호geonoGH
고태용
궁달언니
그레인Grain
극찐ZZINI
기우쌤
김남령
김다혜
김선우 SUN WOO
김송정머리터 복구매직 복구펌 원조
김습습
김지유JIYUKIM
꽃세히sayblossom
나나nana
네일그랜마nailgranma
느린양반
다다뷰티
다예
다현쌤
담쓰뷰티DamsBeauty
댄서 리안의 JOB다한 일상
더네일리영thenaily_young
디렉터 파이
디얼빈dearbeen
디자이너윤뉴
라웁스laoops
라이크스윗망고-HealthyandSimpleLife
랏뚜Beauty
러브솔
럭히히봉heebong
런던혜원
레삐디오(RepitProfessional)
로로와아델라roroadella
로맨틱민서MINSEO
로즈픽스
로즈하
로지Rosie
루루팡
루이연 ruiyeon
루치나
루혜LUHYE
류스펜나
리음lieum
마이구미Gumhee
맨지
메리지히_MerryJihee
메멘토설은
몽몽이는 몽몽
몽키TV
묘빵뷰티
묭실언니 허슬기
무지개빅깔
문군MOONGOON
미니월드
미닝Minning
미대살롱
미소제인
미욤miyom
미팩TV미라클스토리
민제이MINJ
밍몽드
바이도하
박돌핀Bakdollphin
배령BELL
보고싶진아
보니bonny
보은 boeun
뷰티마스터윤지연TVbeautymasterYOON
뷰티엔젤
뷰티트레이너쭈언니
뷰티펄진주PEARL
뷰티홈즈
브이록
비타1000서영
뽐니
상아튜브
상은언니
상자의 신발상자
새얀
샨토끼
서달로그
서진온니SJonly
세나킴의건강&뷰티
센트위키Season1
셴나Shenna's
소리쌤
소연뷰티
소의튜브
송아현
송이송이
송필드
수리Suri
수박온니
수성헤어
수수하SOSOHA
수앤유Sooandyou
숩니subni
스라테티션 slathetician
스완SWAN_현실남자뷰티
스튜디오앤드-StudioA.N.D
심플리 수빈
썸블리
씬님
씬스타일ssinstyle
아두찌로그
아름송이
아름하다
아옳이
아이엠맹
안녕설기
안녕영경
안녕하새은
애슐리Ashley
엄마의 보물창고
에센스룸
에이프롬
엘리
엘피디
여음IsYeoeum
연두콩
연선yeonsun
예리네일yerinails
예순이
예스럽다
예영이예영
오늘의하늘
오자Oza
옥뷰티
온리원서의
올니드
와디의 신발장
욘조yonzo
우린
웨이채널
유나YUNA
유네영
유리숍
유아델리urdaily
유이레컬러OneandOnly
유자차Ujatea
윤민쌤
윤새 yoonsae
윤이니yooniny
윤이든
윤터터yunteoteo
율럽
윰YUM
은조미
이니아니
인애킴
잉구EEN9
장쌀롱
정다윤
정어리jungeory
정우Jungwoo
정채
제시하다Jessiehada
제이시JAYCEE
제타zetta
조니로그
조돌월드JodolWorld
쥬쥬쥬세요
쥴리쿠
지안씨
지애
지옹이
지인언니
진아쌤
집 팔아 화장품 사는 깡나
짱세zzangse
찬살롱TV남자머리해결사
채니 CHAENY
채르니Chaerny
채소
최은경의 관리사무소
최칸나KANNA
춤추는선진이
치유
코코초이
큐도리
파우더룸
팔색쪼마리
패션 팬아시아
패션-정찬양
팽대표의퍼스널
포푼젤
퓨딩
프롬핸fromhaen
프리윤freeyoon
피로
피알남 피부과전문의 김홍석
핑글PINKJJELLY
핑피박_의료미용과겸임교수
하나네집
하능is
하롱롱
하비언니
하빠happa
해딩HAEDING
현실언니
혜봉
호수
홍대미향언니
홍띠끄hongtique
화장품비평가최지현
화장품읽어주는남자화읽남
회사원A
효진조
후니세탁소HUNILAUNDRY
후메이크업whozmakeup
희주

In [16]:
df_frame[df_frame['유투버'] == '희주']

      Unnamed: 0 유투버        월    평균_영상간격  영상_개수
6375        6375  희주   2021/8        NaN    1.0
6376        6376  희주   2021/9   7.000000    4.0
6377        6377  희주  2021/10   7.000000    3.0
6378        6378  희주  2021/11   6.666667    4.0
6379        6379  희주  2021/12   9.500000    3.0
6380        6380  희주   2022/1   9.500000    3.0
6381        6381  희주   2022/2   7.000000    3.0
6382        6382  희주   2022/3   8.666667    4.0
6383        6383  희주   2022/4        NaN    1.0
6384        6384  희주   2022/5  10.500000    3.0
6385        6385  희주   2022/6        NaN    1.0
6386        6386  희주   2022/7   8.333333    4.0
6387        6387  희주   2022/8   9.500000    3.0
6388        6388  희주   2022/9   9.500000    3.0
6389        6389  희주  2022/10   7.000000    2.0
6390        6390  희주  2022/11   5.000000    3.0
6391        6391  희주  2022/12   6.333333    4.0
6392        6392  희주   2023/1   7.000000    2.0
6393        6393  희주   2023/2   4.666667    4.0
6394        6394  희주   2023/3   7.000000    4.0
6395        6395  희주   2023/4  14.000000    3.0
6396        6396  희주   2023/5  11.000000    3.0
6397        6397  희주   2023/6   6.666667    4.0
6398        6398  희주   2023/7   7.000000    4.0
6399        6399  희주   2023/8  21.000000    2.0

In [58]:
df_frame.to_excel('./data/간격_민규.xlsx', index=False)

In [59]:
df_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6400 entries, 0 to 6399
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6400 non-null   int64
 1   유투버         6400 non-null   object
 2   월           6400 non-null   object
 3   평균_영상간격     4079 non-null   float64
 4   영상_개수       6400 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 250.1+ KB

In [69]:
term_df = pd.read_excel('./data/간격_민규.xlsx')
term_df['null_지속'] = np.nan
term_df

      Unnamed: 0        유투버        월    평균_영상간격  영상_개수  null_지속
0              0  @Mingokim   2021/8        NaN      0      NaN
1              1  @Mingokim   2021/9        NaN      0      NaN
2              2  @Mingokim  2021/10        NaN      0      NaN
3              3  @Mingokim  2021/11        NaN      0      NaN
4              4  @Mingokim  2021/12        NaN      0      NaN
...          ...        ...      ...        ...    ...      ...
6395        6395         희주   2023/4  14.000000      3      NaN
6396        6396         희주   2023/5  11.000000      3      NaN
6397        6397         희주   2023/6   6.666667      4      NaN
6398        6398         희주   2023/7   7.000000      4      NaN
6399        6399         희주   2023/8  21.000000      2      NaN

[6400 rows x 6 columns]

In [61]:
term_df['null_지속_temp'] = 0

In [71]:
# 평균_영상간격이 nan이고 유투버가 @yekooooong인 행 추출
for name in term_df['유투버'].unique():
    print(name)
    a = term_df[term_df['유투버'] == name]
    a['null_지속_temp'] = 0
    a.loc[(a['평균_영상간격'].isnull()) & (a['유투버'] == name), 'null_지속_temp'] = 1
    a['null_지속'] = a['null_지속_temp'].groupby((a['null_지속_temp'] != a['null_지속_temp'].shift()).cumsum()).cumcount() + 1
    a.loc[a['null_지속_temp'] == 0, 'null_지속'] = 0
    term_df.loc[term_df['유투버'] == name, 'null_지속'] = a['null_지속']
term_df

@Mingokim
@yekooooong
benny8282_nail
bird 정은
Coco Riley
COLIZET콜리젯TV
Coral코랄
DAISY 데이지
DrDr
Hazel하정
hello,jiyoung안녕하신지영
HYEBBEUM혜쁨
Jaelimize재림
jang.hope장호프
jella젤라
JJUDRE쭈드레
jjuE쭈이
Junsoo함준수
juyeomi
KINGSTON킹스턴
Kongsueni콩슈니
krystal수정
Laila라일라
lamuqe
lasagesse지혜
LUCY루씨
moodin은송
Ood 오드
Ori오리의소비로그
Queen Solmee
SELFCARE 결
So Young
SOLA솔아
SOONSIKI
SSUIMAG
SUMINI
Summer-mute썸뮤
Syong'sbeauty숑스뷰티
tency텐씨
VIVA여나
wandashow
wonhee
yootrue_in_air
zoopeach 지우
강성
거노건호geonoGH
고태용
궁달언니
그레인Grain
극찐ZZINI
기우쌤
김남령
김다혜
김선우 SUN WOO
김송정머리터 복구매직 복구펌 원조
김습습
김지유JIYUKIM
꽃세히sayblossom
나나nana
네일그랜마nailgranma
느린양반
다다뷰티
다예
다현쌤
담쓰뷰티DamsBeauty
댄서 리안의 JOB다한 일상
더네일리영thenaily_young
디렉터 파이
디얼빈dearbeen
디자이너윤뉴
라웁스laoops
라이크스윗망고-HealthyandSimpleLife
랏뚜Beauty
러브솔
럭히히봉heebong
런던혜원
레삐디오(RepitProfessional)
로로와아델라roroadella
로맨틱민서MINSEO
로즈픽스
로즈하
로지Rosie
루루팡
루이연 ruiyeon
루치나
루혜LUHYE
류스펜나
리음lieum
마이구미Gumhee
맨지
메리지히_MerryJihee
메멘토설은
몽몽이는 몽몽
몽키TV
묘빵뷰티
묭실언니 허슬기
무지개빅깔
문군MOONGOON
미니월드
미닝Minning
미대살롱
미소제인
미욤miyom
미팩TV미라클스토리
민제이MINJ
밍몽드
바이도하
박돌핀Bakdollphin
배령BELL
보고싶진아
보니bonny
보은 boeun
뷰티마스터윤지연TVbeautymasterYOON
뷰티엔젤
뷰티트레이너쭈언니
뷰티펄진주PEARL
뷰티홈즈
브이록
비타1000서영
뽐니
상아튜브
상은언니
상자의 신발상자
새얀
샨토끼
서달로그
서진온니SJonly
세나킴의건강&뷰티
센트위키Season1
셴나Shenna's
소리쌤
소연뷰티
소의튜브
송아현
송이송이
송필드
수리Suri
수박온니
수성헤어
수수하SOSOHA
수앤유Sooandyou
숩니subni
스라테티션 slathetician
스완SWAN_현실남자뷰티
스튜디오앤드-StudioA.N.D
심플리 수빈
썸블리
씬님
씬스타일ssinstyle
아두찌로그
아름송이
아름하다
아옳이
아이엠맹
안녕설기
안녕영경
안녕하새은
애슐리Ashley
엄마의 보물창고
에센스룸
에이프롬
엘리
엘피디
여음IsYeoeum
연두콩
연선yeonsun
예리네일yerinails
예순이
예스럽다
예영이예영
오늘의하늘
오자Oza
옥뷰티
온리원서의
올니드
와디의 신발장
욘조yonzo
우린
웨이채널
유나YUNA
유네영
유리숍
유아델리urdaily
유이레컬러OneandOnly
유자차Ujatea
윤민쌤
윤새 yoonsae
윤이니yooniny
윤이든
윤터터yunteoteo
율럽
윰YUM
은조미
이니아니
인애킴
잉구EEN9
장쌀롱
정다윤
정어리jungeory
정우Jungwoo
정채
제시하다Jessiehada
제이시JAYCEE
제타zetta
조니로그
조돌월드JodolWorld
쥬쥬쥬세요
쥴리쿠
지안씨
지애
지옹이
지인언니
진아쌤
집 팔아 화장품 사는 깡나
짱세zzangse
찬살롱TV남자머리해결사
채니 CHAENY
채르니Chaerny
채소
최은경의 관리사무소
최칸나KANNA
춤추는선진이
치유
코코초이
큐도리
파우더룸
팔색쪼마리
패션 팬아시아
패션-정찬양
팽대표의퍼스널
포푼젤
퓨딩
프롬핸fromhaen
프리윤freeyoon
피로
피알남 피부과전문의 김홍석
핑글PINKJJELLY
핑피박_의료미용과겸임교수
하나네집
하능is
하롱롱
하비언니
하빠happa
해딩HAEDING
현실언니
혜봉
호수
홍대미향언니
홍띠끄hongtique
화장품비평가최지현
화장품읽어주는남자화읽남
회사원A
효진조
후니세탁소HUNILAUNDRY
후메이크업whozmakeup
희주

      Unnamed: 0        유투버        월    평균_영상간격  영상_개수  null_지속
0              0  @Mingokim   2021/8        NaN      0      1.0
1              1  @Mingokim   2021/9        NaN      0      2.0
2              2  @Mingokim  2021/10        NaN      0      3.0
3              3  @Mingokim  2021/11        NaN      0      4.0
4              4  @Mingokim  2021/12        NaN      0      5.0
...          ...        ...      ...        ...    ...      ...
6395        6395         희주   2023/4  14.000000      3      0.0
6396        6396         희주   2023/5  11.000000      3      0.0
6397        6397         희주   2023/6   6.666667      4      0.0
6398        6398         희주   2023/7   7.000000      4      0.0
6399        6399         희주   2023/8  21.000000      2      0.0

[6400 rows x 6 columns]

In [75]:
term_df['월'].unique()

array(['2021/8', '2021/9', '2021/10', '2021/11', '2021/12', '2022/1',
       '2022/2', '2022/3', '2022/4', '2022/5', '2022/6', '2022/7',
       '2022/8', '2022/9', '2022/10', '2022/11', '2022/12', '2023/1',
       '2023/2', '2023/3', '2023/4', '2023/5', '2023/6', '2023/7',
       '2023/8'], dtype=object)

In [76]:
term_df = term_df[term_df['월'].isin(['2022/8', '2022/9', '2022/10', '2022/11', '2022/12', '2023/1',
       '2023/2', '2023/3', '2023/4', '2023/5', '2023/6', '2023/7',
       '2023/8'])]
term_df

      Unnamed: 0        유투버        월    평균_영상간격  영상_개수  null_지속
12            12  @Mingokim   2022/8        NaN      0     13.0
13            13  @Mingokim   2022/9        NaN      0     14.0
14            14  @Mingokim  2022/10        NaN      0     15.0
15            15  @Mingokim  2022/11        NaN      0     16.0
16            16  @Mingokim  2022/12        NaN      0     17.0
...          ...        ...      ...        ...    ...      ...
6395        6395         희주   2023/4  14.000000      3      0.0
6396        6396         희주   2023/5  11.000000      3      0.0
6397        6397         희주   2023/6   6.666667      4      0.0
6398        6398         희주   2023/7   7.000000      4      0.0
6399        6399         희주   2023/8  21.000000      2      0.0

[3328 rows x 6 columns]

In [78]:
term_df.to_excel('./data/간격_민규.xlsx', index=False)